* {
    box-sizing: border-box;
  }

  header {
    background-color: #FFF;
  }

  .header {
    background-color: #4aaaa5;
    width: 200px;
    height: 60px;
    color: white;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;
    border-top: 5px solid #ffff;  
    font-size: 1.25em;
    white-space: nowrap;
  }

  .header::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.5em; 
  }
      
    .topnav {
      float: right;
      background-color: white;
      width: 200px;
      height: 50px;
      color: white;
      text-align: center;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 1em;
      border-top: 20px solid #ffff;
    }

    
    .topnav a {
      display: inline-block;
      color: lightgray;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 5px;
      border-right: 1px solid lightgray;
    }
    .topnav a:last-of-type {
      margin-right: 0;
      border-right: none;
    }
    .topnav a:hover {
      text-decoration: underline;
    }

  body {
    background-image: url('../images/dust_scratches.png');
    margin: 0;
  }

  .headerContainer {
    width: 960px;
    margin: auto;
    height: 60px;
    
  }

  .container {
    background-color:#ffffff;
    margin: auto;
    margin-top: 35px;
    width: 960px;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px;
   
  }

  h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 20px;
    font-size: 25px;
}
  h2::before {
  content: '';
  display: inline-block;
  height: 100%; 
  margin-top: 1.75em;
  margin-right: 0.25em; 
}

.imgProf {
  margin-right:15px;
  float: left;
  width: 310px;
  height: 200px;
}

.pAbout {
  margin: 20px;
  font-size: 1em;
  line-height: 1.75;
}
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  footer {
    position: fixed;
    background-color: #666666;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }

  form {
padding: 25px;
  }
  textarea{
    height:150px;
  }
  

  input[type=submit]:hover {
    background-color: #358884;
  }

  .column {
    margin-right: 15px;
    margin: 20px;
    position: relative;
    display: inline-block;
   
  }
  

  .row::after {
    content: " ";
    clear: both;
    display: table;
    width: 100%;
  
    
  }

  .text-block {
    position: absolute;
    bottom: 15px;
    background-color: #358884;
    color: white;
    left: 0px;
    right: 0px;

    
    
  }

  .imgPortfolio{

  width: 200px;
  height: 150px;
  }

  .pp{
  font-size: 1em;
  line-height: 1.75;
  text-align: center;
  }

@media screen and (max-width: 980px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px) {
  .header  {
  position: static;
  }
}